<div class="card mb-3">
    <div class="card-header pr-0 pl-0">
        <div class="row no-gutters align-items-center w-100">
            <div class="col font-weight-bold pl-3"><%= category.Nazwa %></div>
            <div class="d-none d-md-block col-6 text-muted">
                <div class="row no-gutters align-items-center">
                    <div class="col-5"><%= language.threads %></div>
                    <div class="col-6"><%= language.created %></div>
                </div>
            </div>
        </div>
    </div>
    <% category.KategoriePodrzedne.forEach(function(childCategory) { %>
        <% var number = 0; %>
        <% threads.forEach(function(thread) { %>
            <% if(thread.IdCategory === childCategory.IdKategoriaPodrzędna) { %>
                <% number = thread.ThreadCount; %>
            <% } %>
        <% }); %> 
        <%- include("./childCategory.ejs", { childCategory: childCategory, threadNumber: number }); %>
    <% }); %>                
</div>