<hr class="m-0">
<div class="card-body py-3">
    <div class="row no-gutters align-items-center">
        <div class="col"><a href=""  class="text-big font-weight-semibold" data-abc="true"><%= thread["Tytuł"] %></a></div>
        <div class="d-none d-md-block col-6">
            <div class="row no-gutters align-items-center">
                <div class="col-5"><%= postsNumber %></div>
                <div class="col-6"><%= thread["DataUtworzenia"] %></div>
            </div>
        </div>
    </div>
</div>