<hr class="m-0">
<div class="card-body py-3">
    <div class="row no-gutters align-items-center">
        <div class="col"><a href="<%= "/thread/" + matchedThread.Identifier + "/page/1" %>"  class="text-big font-weight-semibold" data-abc="true"><%= matchedThread.Title %></a></div>
        <div class="d-none d-md-block col-6">
            <div class="row no-gutters align-items-center">
                <div class="col-5"><%= matchedThread.PostCount %></div>
                <div class="col-6"><%= matchedThread.SubmitDate %></div>
            </div>
        </div>
    </div>
</div>