<a href="/message/received" class="btn btn-primary mb-3 me-1" role="button"><%= language.received %></a>
<a href="/message/sent" class="btn btn-primary mb-3 me-1" role="button"><%= language.sent %></a>
<a href="/message/new" class="btn btn-primary mb-3" role="button"><%= language.newMessage %></a>